<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chemicalsafety.infosafecsi_onmoveandroid">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--access to storage -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

<!--    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />-->
<!--    <uses-permission android:name="android.permission.ACCOUNT_MANAGER" />-->
<!--    <uses-permission android:name="android.permission.GET_ACCOUNTS" />-->
<!--    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />-->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        android:requestLegacyExternalStorage="true">
        <activity android:name=".ViewSDSPageAC"/>
        <activity android:name=".SDSViewMainPageAC" />
        <activity android:name=".SearchTablePageAC" />
        <activity android:name=".SearchPageAC" />
        <activity android:name=".LoginPageAC" />
        <activity android:name=".StartupPageAC">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--Build for pdf file related function -->
        <provider
            android:authorities="${applicationId}.provider"
            android:name="com.chemicalsafety.infosafecsi_onmoveandroid.Entities.GenericFileProvider"
            android:exported="false"
            android:grantUriPermissions="true" >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />

        </provider>
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>


</manifest>