<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chemicalsafety.infosafecsi_onmoveandroid">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- access to storage -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera2" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher_csi_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_csi_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".CheckBeforeYouPurchaseSupplierTableAC"></activity>
        <activity android:name=".CheckBeforeYouPurchaseProductNameTableAC" />
        <activity android:name=".MultipleClientAC" />
        <activity android:name=".OTACodeAC" />
        <activity android:name=".CheckEmailAC" />
        <activity android:name=".Entities.clientSelectItem" />
        <activity android:name=".ClientSelectPageAC" />
        <activity android:name=".OCRPageAC" />
        <activity android:name=".ScanBarcodePageAC" />
        <activity android:name=".ScanPageAC" />
        <activity android:name=".ViewSDSPageAC" />
        <activity android:name=".SDSViewMainPageAC" />
        <activity android:name=".SearchTablePageAC" />
        <activity
            android:name=".SearchPageAC"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".LoginPageAC"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".StartupPageAC">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Build for pdf file related function -->
        <!-- crop activity -->
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />

        <provider
            android:name=".Entities.GenericFileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
            <meta-data
                android:name="com.google.android.gms.vision.DEPENDENCIES"
                android:value="barcode" />
        </provider>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>

</manifest>